@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');

body {
  margin: 0;
  background-color: #121212;
  overflow-x: hidden;
  background-blend-mode: darken;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.introTitle {
  background: -webkit-linear-gradient(#081978, #4d1567);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Tangerine', cursive;
  font-size: calc(78px - 1vw);
  animation: typing 2s steps(16), blinking .5s step-end infinite alternate;
  width: 8.5ch;
  white-space: nowrap;
  border-right: 3px solid;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }
}

/* blinking | in intro headings */
@keyframes blinking {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: #09d3ac;
  }
}

.animation {
  height: 1000px;
  display: block;
  position: relative;
  z-index: 100;
  object-fit: cover;
  background-repeat: no-repeat;
  /* background-image: linear-gradient(rgb(81, 15, 82),rgb(58, 16, 78),rgb(8, 4, 28)); */
  background-attachment:fixed;
}

.animation_layer {
  height: 1000px;
  background-position: bottom center;
  background-size: auto 1040px;
  width: 100%;
  position: absolute;
}

#starrysky {
  background-image: url(./img/starrysky2.png);
  opacity: 0.8;
}

#mountains {
  background-image: url(./img/mountainss.png);
}

#moon {
  background-image: url(./img/moon.png);
  background-repeat: no-repeat;
}

#sky {
  background-image: url(./img/sky.png);
}

#blue {
  background-image: url(./img/jag.png);
  transform: scale(.4);
  position: absolute;
  z-index: 1000;
  left: 3px;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 10px 15px solid blueviolet;
  top: 73px;
  animation: opacity 5s linear;
  background-blend-mode: darken;
}

#lines {
  background-image: url(./img/lines.png);
  transform: scale(.45);
  position: absolute;
  background-repeat: no-repeat;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduction {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  border: 1px solid #dddddd45;
  text-transform: lowercase;
  letter-spacing: 5px;
  padding: 12%;
  font-size: calc(20px);
  font-weight: 100;
  color: #ffffffc3;
  cursor: context-menu;
  display: flex;
  justify-content: center;
  z-index: 1000;
  background-color: #121212;
  display: block;
}

.undertitle {
  color: #ffffffc3;
  display: block;
  font-family: 'Tangerine', cursive;
  font-size: min(100vw, 55px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  margin-top: -70px;
  margin-right: 25%;
}

#me {
  background-image: url(./img/me.png);
  transform: scale(0.3);
  background-repeat: no-repeat;
  top: -180px;
  opacity: 0.8;
}

#birds {
  background-image: url(./img/birds.png);
  transform: scale(0.3);
  margin-top: -120px;
  margin-left: 50px;
  animation: fly infinite 2s linear;
}

@keyframes fly {
  0% {
    translate: 0;
  }

  50% {
    translate: 0px 10px;
  }

  100% {
    translate: 0;
  }
}

.linkSocials {
  font-size: 50px;
  color: #ffffffc3;
  text-align: center;
  justify-content: center;
  text-decoration: none;
}

.contactTitle{
  font-size: 20px;
  margin-top: -2%;;
  text-align:start;
  margin-left:-10%;
}

@keyframes opacity {

  from,
  to {
    opacity: 10%;
  }

  50% {
    opacity: 50%;
  }

  100% {
    opacity: 100%;
  }
}
